@media(min-width: 576px) {
    .responsiv_Desctop {
        display: flex;
    }

    .responsiv_Mobile {
        display: none;
    }
}

@media(max-width: 576px) {
    .responsiv_Desctop {
        display: none;
    }

    .responsiv_Mobile {
        display: flex;
    }
}





.has_MegaMeno {
    position: static;
    display: flex;
}

.DMegaSubmenu {
    position: absolute;
    padding: 0px 10px 0px 9px;
    width: max-content;
    min-width: 178px;
    background: #f5f5f5;
    border-radius: 6px;
    margin-top: 57px;
    z-index: 1000;
}

.li_subsetMegaMeno {
    margin: 10px 0px;
}

.DMegaSubmenu {
    display: none;
}

.li_subsetMegaMeno {
    color: #515151;
    padding: 7px 12px;
    border-radius: 4px;
    transition: transform 0.2s, background-color 0.2s;
}

    .li_subsetMegaMeno:hover {
        background-color: #e9e9e9;
        transform: translateY(-2px);
    }

.animate__fadeIn {
    --animate-duration: 0.4s;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
}

@media (max-width: 768px) {
    .nav-container {
        direction: rtl !important;
    }
}